In [48]:
import requests
import pandas as pd
import time
import polars as pl
import random
from github import Github, GithubException

In [54]:
#Se crea función para subir archivo a GitHub
def push_request(df, nombre_archivo,commit_message,carpeta):
    #Token de acceso a GitHub
    g = Github(github["github"]["token"])
    #Se establece el repositorio
    repo=g.get_repo(f"{repo_owner}/{repo_name}")
    #repo = g.get_repo(f"{repo_owner}/{repo_name}")
    
    try:
        file = repo.get_contents(f"{carpeta}/{nombre_archivo}")
        # Actualizar archivo
        repo.update_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False), file.sha, branch="main")
        print("Archivo actualizado con éxito")
    except GithubException as e:
        if e.status == 404:
            # Crear archivo
            repo.create_file(f"{carpeta}/{nombre_archivo}", commit_message, df.to_csv(index=False), branch="main")
            print("Archivo cargado con éxito")
        else:
            print("Error al cargar archivo")

In [55]:
repo_name = "pacic"
repo_owner = "labdatos-se"
github={'github': {'token': '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'}}

In [3]:
suc_url="https://raw.githubusercontent.com/labdatos-se/supermercados/main/tiendascorner_final.csv"

In [4]:
#Leer el archivo csv usando polars
df_sucursales = pl.read_csv(suc_url,encoding="latin1")
#column names to lower case
df_sucursales=df_sucursales.to_pandas()
df_sucursales.columns = map(str.lower, df_sucursales.columns)

df_sucursales

,id_tienda,tienda,codigo_postal,d_codigo,d_asenta,d_tipo_asenta,d_mnpio,c_mnpio,d_zona,id_sucursal,sucursal,latitud,longitud,store_name,store_id,address
0,1445,Chedraui,1000,1000,San Ángel,Colonia,Álvaro Obregón,10,Urbano,1445,Pedregal,19.335124,-99.198477,Selecto Chedraui,22,Av. San Jerónimo 236
1,49,City Market,1000,1000,San Ángel,Colonia,Álvaro Obregón,10,Urbano,49,San Jerónimo,19.335648,-99.195824,City Market,9,Av San Jerónimo 190
2,92,Costco,1000,1000,San Ángel,Colonia,Álvaro Obregón,10,Urbano,92,Mixcoac,19.387269,-99.190934,Costco,7,Blvd. Adolfo Lopez Mateos 1181
3,4414,La Comer,1000,1000,San Ángel,Colonia,Álvaro Obregón,10,Urbano,4414,La Comer Coyoacán,19.345009,-99.171911,La Comer,1423,"MIGUEL ANGEL DE QUEVEDO 443, ROMERO DE TERRERO..."
4,10002,Soriana,1000,1000,San Ángel,Colonia,Álvaro Obregón,10,Urbano,10002,San Jeronimo,19.330351,-99.208839,Soriana,3729,"Anillo Perif. 630, Jardines del Pedregal, Álva..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5474,92,Costco,11950,11950,Lomas Altas,Colonia,Miguel Hidalgo,16,Urbano,92,Mixcoac,19.387269,-99.190934,Costco,7,Blvd. Adolfo Lopez Mateos 1181
5475,4412,La Comer,11950,11950,Lomas Altas,Colonia,Miguel Hidalgo,16,Urbano,4412,La Comer Lomas Anahuac,19.399494,-99.276637,La Comer,1423,"AV MAGNOCENTRO LT 1 MZ 2 , SAN FERNANDO HUIXQU..."
5476,10362,Soriana,11950,11950,Lomas Altas,Colonia,Miguel Hidalgo,16,Urbano,10362,Tacubaya,19.408929,-99.184396,Soriana,3729,Gral Jose Moran 3
5477,4432,Fresko,11950,11950,Lomas Altas,Colonia,Miguel Hidalgo,16,Urbano,4432,Fresko Tecamachalco,19.421548,-99.238215,Fresko,45,"AV DE LAS FUENTES 190, LOMAS DE TECAMACHALCO, ..."
5478,4419,Sumesa,11950,11950,Lomas Altas,Colonia,Miguel Hidalgo,16,Urbano,4419,Polanco,19.430815,-99.196947,Sumesa,1424,"Virgilio 15, Polanco, Polanco III Secc, Miguel..."

In [5]:
#Alcaldías disponibles
df_sucursales['d_mnpio'].unique()

array(['Álvaro Obregón', 'Azcapotzalco', 'Benito Juárez', 'Coyoacán',
       'Cuajimalpa de Morelos', 'Cuauhtémoc', 'Gustavo A. Madero',
       'Iztacalco', 'Iztapalapa', 'La Magdalena Contreras',
       'Miguel Hidalgo'], dtype=object)

### Limpieza de tiendas

In [6]:
#Dejar solo "La Comer" y "Soriana"
df_sucursales = df_sucursales[df_sucursales["tienda"].isin(["La Comer", "Soriana", "Chedraui"])]
print(df_sucursales.groupby('tienda').size().sort_values(ascending=False))
print("Total de tiendas: ",len(df_sucursales))

tienda
Chedraui    775
Soriana     775
La Comer    774
dtype: int64
Total de tiendas:  2324

In [7]:
#Tiendas únicas. Dejar solo una tienda por alcaldía y id_tienda
df_sucursales = df_sucursales.drop_duplicates(subset=['id_tienda'])

In [8]:
df_sucursales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 4155
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_tienda      45 non-null     int64
 1   tienda         45 non-null     object
 2   codigo_postal  45 non-null     int64
 3   d_codigo       45 non-null     int64
 4   d_asenta       45 non-null     object
 5   d_tipo_asenta  45 non-null     object
 6   d_mnpio        45 non-null     object
 7   c_mnpio        45 non-null     int64
 8   d_zona         45 non-null     object
 9   id_sucursal    45 non-null     int64
 10  sucursal       45 non-null     object
 11  latitud        45 non-null     float64
 12  longitud       45 non-null     float64
 13  store_name     45 non-null     object
 14  store_id       45 non-null     int64
 15  address        45 non-null     object
dtypes: float64(2), int64(6), object(8)
memory usage: 6.0+ KB

In [9]:
df_sucursales["tienda"].unique()

array(['Chedraui', 'La Comer', 'Soriana'], dtype=object)

In [10]:
print("Alcaldías: ",len(df_sucursales["d_mnpio"].unique()))
print("Tiendas únicas: ",len(df_sucursales["id_tienda"].unique()))

Alcaldías:  9
Tiendas únicas:  45

In [11]:
print("Alcaldías abarcadas por", df_sucursales.groupby('tienda')['d_mnpio'].nunique())

Alcaldías abarcadas por tienda
Chedraui    7
La Comer    6
Soriana     5
Name: d_mnpio, dtype: int64

In [12]:
#Agrupar por tienda para obtener lista de alcaldías únicas por tienda
#df_sucursales.groupby('tienda')['d_mnpio'].unique()
#Contar alcaldías únicas por tienda

#Enlistar alcaldías únicas por tienda
lista=df_sucursales.groupby('tienda')['d_mnpio'].unique().apply(list)
#Transformar la lista a dataframe. Index es la tienda
df_lista=pd.DataFrame(lista.tolist(), index=lista.index)
#Resetear index
df_lista=df_lista.reset_index()
print("listado de alcaldías únicas por tienda")
df_lista

listado de alcaldías únicas por tienda

,tienda,0,1,2,3,4,5,6
0,Chedraui,Álvaro Obregón,Azcapotzalco,Coyoacán,Cuajimalpa de Morelos,Cuauhtémoc,Iztacalco,Iztapalapa
1,La Comer,Álvaro Obregón,Azcapotzalco,Benito Juárez,Coyoacán,Gustavo A. Madero,Iztacalco,None
2,Soriana,Álvaro Obregón,Azcapotzalco,Benito Juárez,Coyoacán,Gustavo A. Madero,None,None

In [13]:
#Filtrar la tienda 4414
df_sucursales[df_sucursales["id_tienda"] == 138]

,id_tienda,tienda,codigo_postal,d_codigo,d_asenta,d_tipo_asenta,d_mnpio,c_mnpio,d_zona,id_sucursal,sucursal,latitud,longitud,store_name,store_id,address
21,138,Chedraui,1030,1030,Axotla,Pueblo,Álvaro Obregón,10,Urbano,138,Universidad,19.373548,-99.16216,Selecto Chedraui,22,Av. Universidad 740

### Búsqueda de productos

In [15]:
#Lectura de productos en excel. A partir de la línea 8
pacic = pd.read_excel("https://github.com/labdatos-se/supermercados/blob/main/prod_pacic.XLSX?raw=true", skiprows=9)
pacic.columns = pacic.columns.str.lower()
#Toda la base en minúsculas
pacic = pacic.apply(lambda x: x.astype(str).str.lower())
#Eliminar espacios en blanco
pacic = pacic.apply(lambda x: x.astype(str).str.strip())
#Cambiar registro 29 a "mojarra tilapia"
pacic["producto"] = pacic["producto"].replace("tilapia, mojarra tilapia", "mojarra tilapia")
pacic["producto"] = pacic["producto"].replace("tortilla", "tortilla de maíz")
#Renombrar columnas
pacic = pacic.rename(columns={"presentación comercial":"pres", "unidad de medida":"uni_med"})
#Crear columna con el nombre con "+" en lugar de espacios
pacic["prod_search"] = pacic["producto"].str.replace(" ", "+")
pacic

,producto,variedad,pres,uni_med,prod_search
0,tortilla de maíz,maíz,kilogramo,kilogramo,tortilla+de+maíz
1,aceite,canola o maíz,desde 850 ml hasta 1.05 litros,mililitro o litro,aceite
2,arroz,no aplica,desde 900 g hasta 1.1 kg,gramos o kilogramos,arroz
3,atún en lata,en agua o en aceite,lata desde 125 hasta 155 g,gramos por lata,atún+en+lata
4,chuleta de puerco,natural o ahumada,"a granel, 1 kilogramo",kilogramo,chuleta+de+puerco
5,cebolla,blanca,"a granel, 1 kilogramo",kilogramo,cebolla
6,chile jalapeño,jalapeño,"a granel, 1 kilogramo",kilogramo,chile+jalapeño
7,bistec de res,"bistec de res, espalidlla, agujas, tampiqueña,...","a granel, 1 kilogramo",kilogramo,bistec+de+res
8,frijol,negro,desde 800 g hasta 1 kg,gramos o kilogramos,frijol
9,huevo,blanco,18 piezas,piezas,huevo
10,jitomate,saladette,"a granel, 1 kilogramo",kilogramo,jitomate
11,limón,agrio o con semilla y persa o sin semilla,"a granel, 1 kilogramo",kilogramo,limón
12,manzana,golden,"a granel, 1 kilogramo",kilogramo,manzana
13,naranja,valencia,"a granel, 1 kilogramo",kilogramo,naranja
14,papa,"blanca, alfa","a granel, 1 kilogramo",kilogramo,papa
15,pollo,entero,kilogramos,kilogramo,pollo
16,sardina en lata,en tomate,desde 380 hasta 470 g,gramos por lata,sardina+en+lata
17,zanahoria,no aplica,"a granel, 1 kilogramo",kilogramo,zanahoria
18,azúcar,"estándar, morena",desde 900 g hasta 1.1 kg,kilogramo,azúcar
19,jabón de tocador,barra,pieza desde 135 hasta 165 g,gramos,jabón+de+tocador
20,leche,entera pasteurizada y ultrapasteurizada,1 litro,litro,leche
21,pan de caja,blanco o integral,paquete desde 600 hasta 750 g,gramos,pan+de+caja
22,papel higiénico,no aplica,paquete con cuatro rollos,precio por 4 rollos,papel+higiénico
23,pasta para sopa,"todas (espagueti, municiones, fideos, letras, ...",paquete desde 200 hasta 240 g,gramos,pasta+para+sopa
24,plátano,tabasco,"a granel, 1 kilogramo",kilogramo,plátano
25,lechuga,"romana, orejona",pieza,pieza,lechuga
26,espinaca,no aplica,a granel,"rollo, manojo o pieza",espinaca
27,lenteja,no aplica,bolsa desde 450 hasta 550 g,gramos,lenteja
28,jamón,"pavo, virginia o pechuga","a granel, 1 kilogramo",kilogramo,jamón
29,mojarra tilapia,no aplica,"a granel, 1 kilogramo",kilogramo,mojarra+tilapia
30,puré de tomate,no aplica,"caja, 1 kilogramo",kilogramo,puré+de+tomate
31,servilleta,no aplica,"paquete, 180 a 200 piezas",piezas por paquete,servilleta
32,toalla femenina,no aplica,"paquete, 8 a 10 piezas",piezas por paquete,toalla+femenina

In [23]:
#Hacer una muestra de 3
muestra = pacic.sample(n=1, random_state=1)
muestra

   producto      variedad                   pres    uni_med prod_search
14     papa  blanca, alfa  a granel, 1 kilogramo  kilogramo        papa

In [24]:
url_basica="https://cornershopapp.com/api/v2/branches/"
url_fin="/search?query="
headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}

In [26]:
#Hacer grupos de tiendas
branches_groups = [df_sucursales["id_tienda"][i:i+20] for i in range(0, len(df_sucursales["id_tienda"]), 20)]

C:\Users\claud\AppData\Local\Temp\ipykernel_20040\2477786957.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  branches_groups = [df_sucursales["id_tienda"][i:i+20] for i in range(0, len(df_sucursales["id_tienda"]), 20)]

In [20]:

# producto=[]
# precio=[]
# contenido=[]
# sucursal=[]
# id_sucursal = []
# store_name = []
# busqueda = []


# for query in muestra["prod_search"]:
#     for group in branches_groups:
#         for branches in group:
#             url = url_basica + str(branches) + url_fin + str(query)
#             r = requests.get(url, headers=headers)
#             #print(r.status_code)
#             productos = r.json()
#             for elementos in range(len(productos["aisles"][0]["products"])):
#                 producto.append(productos["aisles"][0]["products"][elementos]["name"])
#                 precio.append(productos["aisles"][0]["products"][elementos]["price"])
#                 contenido.append(productos["aisles"][0]["products"][elementos]["package"])
#                 id_sucursal.append(branches)
#                 sucursal.append(df_sucursales[df_sucursales["id_tienda"] == branches]["sucursal"].values[0])
#                 store_name.append(df_sucursales[df_sucursales["id_sucursal"] == branches]["store_name"].values[0])
#                 busqueda.append(query)
# #Sleep para dar tiempo de buscar en el siguiente grupo
#         time.sleep(20)

In [35]:
producto=[]
precio=[]
contenido=[]
sucursal=[]
id_sucursal = []
store_name = []
busqueda = []
store_name = []


for query in pacic["prod_search"]:
    for group in branches_groups:
        for branches in group:
            url = url_basica + str(branches) + url_fin + str(query)
            r = requests.get(url, headers=headers)
            #print(r.status_code)
            productos = r.json()
            for i in range(len(productos["aisles"])):
                for elementos in range(len(productos["aisles"][i]["products"])):
                    producto.append(productos["aisles"][i]["products"][elementos]["name"])
                    precio.append(productos["aisles"][i]["products"][elementos]["price"])
                    contenido.append(productos["aisles"][i]["products"][elementos]["package"])
                    id_sucursal.append(branches)
                    sucursal.append(df_sucursales[df_sucursales["id_tienda"] == branches]["sucursal"].values[0])
                    store_name.append(df_sucursales[df_sucursales["id_sucursal"] == branches]["store_name"].values[0])
                    busqueda.append(query)
                    #Tiempo de espera entre cada consulta
#Sleep para dar tiempo de buscar en el siguiente grupo
        time.sleep(random.randint(20, 25))

Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 1445 en la sucursal Pedregal el producto papa
Buscando en tienda 4414 en la sucursal La Comer Coyoacán el producto papa
Buscando en tienda 4414 en la sucursal La Comer Coyoacán el producto papa

KeyboardInterrupt:

In [28]:
#Pasar a dataframe
df_productos = pd.DataFrame({"id_sucursal":id_sucursal, "sucursal":sucursal, "store_name":store_name, "producto":producto, "precio":precio, "contenido":contenido, "busqueda":busqueda})

In [29]:
len(df_productos)

4236

In [30]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4236 entries, 0 to 4235
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_sucursal  4236 non-null   int64
 1   sucursal     4236 non-null   object
 2   store_name   4236 non-null   object
 3   producto     4236 non-null   object
 4   precio       4236 non-null   float64
 5   contenido    4144 non-null   object
 6   busqueda     4236 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 231.8+ KB

In [47]:
df_productos

,id_sucursal,sucursal,store_name,producto,precio,contenido,busqueda
0,1445,Pedregal,Selecto Chedraui,Papa blanca,44.9,"Precio por kg, unidad: 230 g aprox",papa
1,1445,Pedregal,Selecto Chedraui,Papa cambray,49.8,"Precio por kg, unidad: 50 g aprox",papa
2,1445,Pedregal,Selecto Chedraui,Papa cambray roja,17.5,"Precio por kg, unidad: 50 g aprox",papa
3,1445,Pedregal,Selecto Chedraui,Papaya maradol,32.9,"Precio por kg, unidad: 2.2 kg aprox",papa
4,1445,Pedregal,Selecto Chedraui,Papas onduladas sabor queso,57.0,Bolsa 185 g,papa
...,...,...,...,...,...,...,...
4231,26722,Chedraui Tepozán,Chedraui,Granola con frutas,89.0,Sobre 800 g,papa
4232,26722,Chedraui Tepozán,Chedraui,Ron spiced,149.0,Botella 700 ml,papa
4233,26722,Chedraui Tepozán,Chedraui,Vodka spicy tamarindo,249.0,Botella 750 ml,papa
4234,26722,Chedraui Tepozán,Chedraui,Paparnaza de res,22.9,15 piezas,papa
4235,26722,Chedraui Tepozán,Chedraui,Mouse Pad de hamburguesa,55.0,None,papa

In [57]:
#Push a github
push_request(df_productos, "productos.csv","Se suben datos sin limpiar","data")

Archivo cargado con éxito