### Exploración Cornershop

Este código tiene como objetivo explorar la API de Cornershop para poder determinar si es posible obtener la información necesaria para poder realizar seguimiento del canasta PACIC.

In [2]:
import pandas as pd
import requests

In [4]:
#Obtener información sobre presencia
paises="https://cornershopapp.com/api/v1/countries"
r = requests.get(paises)
data_country = r.json()

In [18]:
#Obtener países
for country in data_country["countries"]:
    print(country["name"])

Brasil
Canada
Chile
Colombia
Costa Rica
México
Perú
United States

In [20]:
#Obtener ciudades de México
for country in data_country["countries"]:
    if country["name"]=="México":
        for city in country["cities"]:
            print(city["name"])

Ciudad de México
Cancún
Chihuahua
Ciudad Apodaca
Ciudad Benito Juárez
Ciudad Santa Catarina
García
General Escobedo
Guadalajara
León
Mérida
Metepec
Monterrey
Puebla
Querétaro
San Nicolás de los Garza
San Pedro Garza García
Toluca

### Función para obtener tiendas disponibles por código postal

In [64]:
#Obtener supermercados por código postal
def zip_code(zip_code:str):
    url="https://cornershopapp.com/api/v1/collections/13?locality="+zip_code+"&country=MX"
    r = requests.get(url)
    data_zip = r.json()
    tiendas=[]
    ids=[]
    for stores in data_zip["branches"]:
        tiendas.append(stores["name"])
        ids.append(stores["id"])
    #Llevarlo a un dataframe
    df=pd.DataFrame({"id_tienda":ids,"tienda":tiendas})
    return df

In [66]:
zip_code("06720")

  id_tienda       tienda
0       138     Chedraui
1     43294    City Club
2        58  City Market
3        92       Costco
4      4416     La Comer
5     10365      Soriana
6      4434       Fresko
7      4420       Sumesa

In [67]:
zip_code("03020")

  id_tienda       tienda
0       138     Chedraui
1        58  City Market
2        92       Costco
3      4417     La Comer
4     10365      Soriana
5      4434       Fresko
6      4421       Sumesa